.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaveContainer {
  margin: 0.5em;
}

.leaveList {
  border: 1px solid #333;
  margin: 1em;
  padding: 1em;
}

.statusSection {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.leaveInfo {
  display: flex;
  justify-content: space-around;
}

.Pending {
  display: inline-block;
  padding: 1em;
  color: #fff;
  background: #333;
}
