.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75rem;
  background: #1170ec;
  color: white;
  flex: 1;
  height: 60px;
}

.logo {
  margin: 0 1em;
  font-size: 1.3rem;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.hamburgerIcon {
  cursor: pointer;
}

.mobileMenu {
  display: none;
}

.webMenu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .webMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  .logo {
    font-size: 1.2rem;
  }
}
