.mobile {
  background: #1170ec;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  right: 0;
  height: 100vh;
  width: 60vw;
  padding: 0 0.75rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.1rem;
  z-index: 100;
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  color: white;
  cursor: pointer;
  margin-top: 1em;
}

.mobileOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.mobileOptions {
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobileOptions li {
  list-style: none;
}

.mobileOptions li a {
  text-decoration: none;
  color: white;
}

.mobileoptions li a:hover {
  margin-bottom: 1px solid white;
  padding-bottom: 0.1em;
}

a.active {
  border-bottom: 3px solid white;
}

.nav {
  display: flex;
}

.navIcon {
  color: #fff;
  display: flex;
  align-items: center;
}

.navIcon span {
  margin-left: 0.2em;
}

.mobileOptions:last-child {
  margin-left: 0.5em;
}
